<div class="container">
  <div class="row p-1">
    <h1>Ваши Заметки</h1>
  </div>
  <div class="row p-1">
    <div class="col-2">
      <input type="button" value="Добавить" class="btn btn-primary" (click)="add()" />
    </div>
  </div>
  <div class="row p-1">
    <table *ngIf="tableMode; else create" class="table table-striped">
      <thead>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of notes">
          <ng-template [ngIf]="note.noteId != p.noteId" [ngIfElse]="edit">
            <td>
              <h2> {{p?.header}} </h2>
              <p>{{p?.description}}</p>
              <p *ngFor="let f of p.tags">
                #{{f?.tagName}}
              </p>
            </td>
            <td>
              <div class="btn-group">
                <button class="btn btn-sm btn-primary" (click)="editNote(p)">Изменить</button>
                <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
              </div>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--шаблон для редактирования-->
<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="note.header" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="note.description" class="form-control" />
  </td>
  <td>
    <!-- Using Items Input -->
    <ng-select [items]="cars"
               bindLabel="name"
               placeholder="Select Tags"
               appendTo="body"
               [multiple]="true"
               [(ngModel)]="note.tags">
    </ng-select>
  </td>
  <td>
    <div class="btn-group">
      <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
      <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </div>
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
  <div class="form-group">
    <label>Заголовок</label>
    <input type="text" [(ngModel)]="note.header" class="form-control" />
  </div>
  <div class="form-group">
    <label>Содержание</label>
    <input type="text" [(ngModel)]="note.description" class="form-control" />
  </div>
  <div>
    <!-- Using Items Input -->
    <ng-select [items]="cars"
               bindLabel="name"
               placeholder="Select Tags"
               appendTo="body"
               [multiple]="true"
               [(ngModel)]="note.tags">
    </ng-select>
  </div>
  <div>
    <div class="btn-group p-2">
      <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
      <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
  </div>
</ng-template>
